@page "/"
@inject HttpClient Http

<h1>VocaDB lyrics display</h1>

<div class="row">
	<form class="form-horizontal col-sm-6">
		<div class="input-group">
			<!-- Note: currently bind and onchange are not supported on the same element: https://github.com/aspnet/Blazor/issues/433#issue-309782114 -->
			<input type="text" class="form-control" placeholder="Song" @bind(songUrl) />
			<span class="input-group-btn">
				<button class="btn btn-default" @onclick(async () => await GetSongAsync(songUrl))>Get</button>
			</span>
		</div>
		<p class="help-block">Enter song URL or name, for example 
			<a href="" @onclick(() => songUrl = "https://youtu.be/hoLu7c2XZYU")>https://youtu.be/hoLu7c2XZYU</a>
			or 
			<a href="" @onclick(() => songUrl = "Nebula")>Nebula</a>
		</p>
	</form>
</div>

@if (song != null) {
	<h2>Lyrics for song <a href="https://vocadb.net/S/@song.id">@song.name</a> by @song.artistString</h2>
	@if (!song.lyrics.Any()) {
		<div class="alert alert-warning">
			No lyrics! Try another song.
		</div>
	}
	<ul class="nav nav-tabs">
		@foreach (var lyrics in song.lyrics) {
			<li class="@(lyrics == activeLyrics ? "nav-item active" :"nav-item")">
				<a class="nav-link" href="" @onclick(() => activeLyrics = lyrics)>
					@GetLyricsTitle(lyrics)
				</a>
			</li>
		}
	</ul>
	@if (activeLyrics != null) {
		<div style="white-space: pre-line;">
			@activeLyrics.value
		</div>
	}
}

@functions {

	VocaDbContracts.SongForApiContract song;
	VocaDbContracts.LyricsForSongContract activeLyrics;
	string songUrl = null;

	private void Log(object val) {
		Console.WriteLine(val);
	}

	string GetLyricsTitle(VocaDbContracts.LyricsForSongContract lyrics) {
		if (!string.IsNullOrEmpty(lyrics.cultureCode)) {
			return new System.Globalization.CultureInfo(lyrics.cultureCode).EnglishName;
		}

		var translationType = (VocaDbContracts.TranslationType)Enum.Parse(typeof(VocaDbContracts.TranslationType), lyrics.translationType);

		switch (translationType) {
			case VocaDbContracts.TranslationType.Romanized:
				return "Romanized";
			case VocaDbContracts.TranslationType.Original:
				return "Original";
			case VocaDbContracts.TranslationType.Translation:
				return "Translation";
			default:
				return "Unspecified";
		}

	}

	async Task GetSongAsync(string input) {

		Log(input);

		if (string.IsNullOrEmpty(input)) {
			song = null;
			return;
		}

		var url = "https://vocadb.net/api/songs?maxResults=1&nameMatchMode=Auto&preferAccurateMatches=true&fields=Lyrics&sort=RatingScore&lang=English&query=" + input;
		var result = await Http.GetJsonAsync<VocaDbContracts.PartialFindResult<VocaDbContracts.SongForApiContract>>(url);
		this.song = result.items.FirstOrDefault();
		if (song != null && song.lyrics.Any()) {
			this.activeLyrics = song.lyrics.FirstOrDefault();
		} else {
			this.activeLyrics = null;
		}

		// Needed for async callbacks apparently
		this.StateHasChanged();

	}

}